{% extends 'base.html.twig' %}
{% block title %} {% trans %} Declare a suspicious case {% endtrans %}{% endblock %}
{% block body %}

    <h1 class="text-center header">{% trans %}declare_suspicious{% endtrans %}</h1>



    <div class="suspicious-form-container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans %}firstname{% endtrans %}</th>
                        <th scope="col">{% trans %}lastname{% endtrans %}</th>
                        <th scope="col">{% trans %}sex{% endtrans %}</th>
                        <th scope="col">{% trans %}birthdate{% endtrans %}</th>
                        <th scope="col">{% trans %}address{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{patient.firstname}}</td>
                            <td>{{patient.lastname}}</td>
                            <td>{{patient.sex}}</td>
                            <td>{{patient.birthdate}}</td>
                            <td>{{patient.addess}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

    </div>

{% endblock %}
