{% extends 'base.html.twig' %}
{% block title %} {% trans %}declare_suspicious{% endtrans %}{% endblock %}
{% block body %}

    <h1 class="text-center header">{% trans %}fill_survey{% endtrans %}</h1>

    <div class="alert alert-info text-center" role="alert">
        {% trans %}fill_survey_text{% endtrans %}
    </div>

    <div class="suspicious-form-container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12">

                            {% for question in questions %}
                                {% set name = question.name %}
                                {{ form_row(attribute(form, name)) }}
                            {% endfor %}
                    </div>
                <div class="container-fluid ">
{#                    <h2>{% trans %}symptoms_infos{% endtrans %}</h2>#}
{#                    <div class="alert alert-danger" role="alert">#}
{#                        <i class="fas fa-exclamation-triangle"></i> {% trans %}symptoms_infos_message{% endtrans %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-12">#}
{#                            {{ form_row(form.visitedCountry) }}#}
{#                           <div id="whichCountry"> {{ form_row(form.whichCountry) }}</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-12">#}
{#                            {{ form_row(form.caseContact) }}#}
{#                           <div id="caseContactWho"> {{ form_row(form.caseContactWho) }}</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-12">#}
{#                            {{ form_row(form.haveSymptoms) }}#}
{#                        </div>#}
{#                        <div id="symptoms" class="row">#}
{#                            {% for symptom in symptoms %}#}
{#                                {% set name = symptom.name %}#}
{#                                {{ form_row(attribute(form, name)) }}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}


{#                <div class="container-fluid">#}
{#                    <h2>{% trans %}personal_infos{% endtrans %}</h2>#}
{#                    <div class="alert alert-success" role="alert">#}
{#                        <i class="fas fa-user-shield"></i> {% trans %}security_informations{% endtrans %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 col-sm-12">#}
{#                            {{ form_row(form.firstname) }}#}
{#                            {{ form_row(form.lastname) }}#}
{#                            {{ form_row(form.sex) }}#}
{#                            {{ form_row(form.birthdate) }}#}
{#                            {{ form_row(form.address) }}#}
{#                        </div>#}
{#                        <div class="col-md-6 col-sm-12">#}
{#                            {{ form_row(form.phone) }}#}
{#                            {{ form_row(form.email) }}#}
{#                            {{ form_row(form.otherNumber) }}#}
{#                            {{ form_row(form.referentDoctor) }}#}
{#                        </div>#}
{#                    </div>#}


{#                </div>#}

{#                {% if comorbidities is not null %}#}
{#                    <div class="container-fluid ">#}
{#                        <h2>{% trans %}background_infos{% endtrans %}</h2>#}
{#                        <div class="alert alert-danger" role="alert">#}
{#                            <i class="fas fa-exclamation-triangle"></i> {% trans %}background_infos_message{% endtrans %}#}
{#                        </div>#}
{#                        {{ form_row(form.pregnant) }}#}
{#                        {{ form_row(form.background ) }}#}
{#                        <div class="row">#}
{#                            {% for comorbidity in comorbidities %}#}
{#                                {% set name = comorbidity.name %}#}
{#                                {{ form_row(attribute(form, name)) }}#}
{#                            {% endfor %}#}
{#                        </div>#}

{#                    </div>#}
{#                {% endif %}#}
                <input type="submit" class="btn btn-primary" value="{% trans %}form.save{% endtrans %}">
                {{ form_row(form._token) }}
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('js/patient.js') }}"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}